[buildout]
develop = .
parts = test checker coverage-test coverage-report
find-links =
    ${buildout:directory}/ZODB-4.0.0dev.tar.gz
versions = versions

[versions]
ZODB = 4.0.0dev

[test]
recipe = zc.recipe.testrunner
eggs = z3c.authenticator [test]


[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/authenticator


[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.authenticator [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
